<div><%= s %>利用規約<%= s %></div>
<div>
<%= s('666') %>法律・条例・公序良俗に反する画像がある場合、削除します。<br />
<%= s('666') %>上記内容を発見した場合、<a href="mailto:gioext@gmail.com">コチラ</a>までご連絡お願い致します。<br />
<%= s('666') %>通報ボタン押下で管理者に通知されます。御協力お願い致します。<br />
</div>
