<% content_for :keyword do %>2ch画像まとめモバイル<% end %>
<% content_for :description do %>トップページ P.<%= @p %><% end %>
<% content_for :title do %>面白画像が大量！ P.<%= @p %><% end %>
<%= partial :info %>
<% if production? %>
<div style="text-align:center">
<a href="http://click.adtune.jp/ad_ck.php?pskey=0n4ota7w&amp;guid=ON"><img src="http://lotate.adtune.jp/ad_img.php?pskey=0n4ota7w&amp;guid=ON" border="0" /></a>
</div>
<% end %>
<%= hr %>
<%= partial :search %>
<%= hr %>
<div><%= s %><%= h(@ku ? @ku : 'スレッド') %>の一覧<%= s %></div>
<div style="font-size:xx-small">Last Updated:<%= last_updated %></div>
<div style="text-align:right;">
<%= mobile_page_link(@paginate, "", @k ? "?k=#{u(@k)}" : '') %>
</div>
<% if production? %>
<div style="text-align:center;">
<a href="http://cgi.i-mobile.co.jp/ad_link.aspx?guid=on&amp;asid=14995&amp;pnm=7289&amp;asn=1"><img border="0" src="http://cgi.i-mobile.co.jp/ad_img.aspx?guid=on&amp;asid=14995&amp;pnm=7289&amp;asn=1&amp;asz=0&amp;atp=2&amp;lnk=6666ff&amp;bg=&amp;txt=000000" alt="i-mobile" /></a><br />
</div>
<% end %>
<% if production? %>
<% ads(4).each_with_index do |e, i| %>
<%= hr %>
<div<%= ' style="background-color:#ebebff;"' if i % 2 == 0 %>>
<%= s('666') %><%= e %></div>
<% end %>
<% end %>
<% @boards.each_with_index do |b, i| %>
<%= hr %>
<div<%= ' style="background-color:#ebebff;"' if i % 2 == 0 %>>
<%= s('666') %><a href="/t/<%= b[:id] %>/1"><%= b[:title] %></a>
</div>
<% end %>
<%= hr %>
<% if production? %>
<div style="text-align:center;">
<a href="http://cgi.i-mobile.co.jp/ad_link.aspx?guid=on&amp;asid=14995&amp;pnm=7289&amp;asn=2"><img border="0" src="http://cgi.i-mobile.co.jp/ad_img.aspx?guid=on&amp;asid=14995&amp;pnm=7289&amp;asn=2&amp;asz=0&amp;atp=2&amp;lnk=6666ff&amp;bg=&amp;txt=000000" alt="i-mobile" /></a><br />
</div>
</div>
<% end %>
<div style="text-align:right;">
<%= mobile_page_link(@paginate, "", @k ? "?k=#{u(@k)}" : '') %>
</div>
<%= hr %>
<% if production? %>
<div style="text-align:center">
<a href="http://click.adtune.jp/ad_ck.php?pskey=0n4ota7w&amp;guid=ON"><img src="http://lotate.adtune.jp/ad_img.php?pskey=0n4ota7w&amp;guid=ON" border="0" /></a><br />
</div>
<% end %>
<div style="text-align:right;">
<div><a href="#top">ページTOP▲</a></div>
</div>
