<% content_for :keyword do %><%= @board[:title].strip %><% end %>
<% content_for :description do %><%= @board[:title].strip %> No.<%= @picture[:id] %>@最大化<% end %>
<% content_for :title do %><%= @board[:title].strip %> No.<%= @picture[:id] %>@最大化<% end %>
<div><%= s %><%= @board[:title].strip %><%= s %></div>
<div style="text-align:center;">
<% if production? %>
<a href="http://click.adtune.jp/ad_ck.php?pskey=0n4ota7w&amp;guid=ON"><img src="http://lotate.adtune.jp/ad_img.php?pskey=0n4ota7w&amp;guid=ON" border="0" /></a>
<% end %>
<%= hr %>
<img src="<%= static("/pics3/#{@board[:thread_id]}/#{@picture[:url]}") %>" alt="img" width="100%" /><br />
<%= hr %>
<% if production? %>
<a href="http://cgi.i-mobile.co.jp/ad_link.aspx?guid=on&amp;asid=14995&amp;pnm=0&amp;asn=1"><img border="0" src="http://cgi.i-mobile.co.jp/ad_img.aspx?guid=on&amp;asid=14995&amp;pnm=0&amp;asn=1&amp;asz=0&amp;atp=2&amp;lnk=6666ff&amp;bg=&amp;txt=000000" alt="i-mobile" /></a><br />
<% end %>
<a href="/notice/confirm/<%= @picture[:id] %>" rel="nofollow"><%= s %>通報する<%= s %></a> 
<%= hr %>
<% if production? %>
<a href="http://adtune.jp/ck.php?psid=12505&amp;csid=209&amp;adid=1100"><img src="http://adtune.jp/banner/216_209_1.gif" /><br />
</a>
<a href="http://adtune.jp/ck.php?psid=12505&amp;csid=97&amp;adid=597">祈ってｸﾘｯｸ!ｸﾘｯｸ!<br />
登録で100万ｹﾞｯﾄ!</a>
<% end %>
</div>
