<% content_for :keyword do %><%= @board[:title].strip %><% end %>
<% content_for :description do %><%= @board[:title].strip %> No.<%= @picture[:id] %>@最大化<% end %>
<% content_for :title do %><%= @board[:title].strip %> No.<%= @picture[:id] %>@最大化<% end %>
<div><%= s %><%= @board[:title].strip %><%= s %></div>
<%= hr %>
<img src="<%= static("/mobile/#{@board[:thread_id]}/#{@picture[:url]}") %>" alt="img" /><br />
<%= hr %>
<a href="/notice/confirm/<%= @picture[:id] %>" rel="nofollow">通報する</a> 
<%= hr %>
<% if production? %>
<a href="http://adtune.jp/ck.php?psid=12505&amp;csid=209&amp;adid=1100"><img src="http://adtune.jp/banner/216_209_1.gif" /><br />
</a>
<a href="http://adtune.jp/ck.php?psid=12505&amp;csid=97&amp;adid=597">祈ってｸﾘｯｸ!ｸﾘｯｸ!<br />
登録で100万ｹﾞｯﾄ!</a>
<% end %>
<a href="/notice/confirm/<%= @picture[:id] %>" rel="nofollow">さらに拡大画像</a><br />
</div>
