<% content_for :title do %>2ch画像まとめモバイル - <%= @board[:title] %><% end %>
<div><%= s %><%= @board[:title] %><%= s %></div>
<div style="text-align:center">
<a href="http://click.adtune.jp/ad_ck.php?pskey=0n4ota7w&amp;guid=ON"><img src="http://lotate.adtune.jp/ad_img.php?pskey=0n4ota7w&amp;guid=ON" border="0" /></a>
</div>
<%= mobile_page_link(@paginate, "/t/#{@board[:id]}") %>
<% @pictures.each_with_index do |p, i| %>
<%= hr %>
<div style="text-align:center;<%= 'background-color:#ebebff' if i % 2 == 0 %>">
<a href="/i/<%= p[:id] %>"><img src="<%= static("/thumbs/#{@board[:thread_id]}/#{p[:url]}") %>" /></a>
<div style="text-align:right;">
<a href="/i/<%= p[:id] %>">拡大画像</a><br />
<a href="/notice/confirm/<%= p[:id] %>" rel="nofollow">通報する</a><br />
<a href="#top">ページTOP▲</a>
</div>
</div>
<% end %>
<%= hr %>
<%= mobile_page_link(@paginate, "/t/#{@board[:id]}") %>
<%= hr %>
<div style="text-align:center">
<a href="http://adtune.jp/ck.php?psid=12505&amp;csid=97&amp;adid=595">
本日の運試し！<br />
┓┏┓┏┓富くじ<br />
┻┗┛┗┛万円☆</a>
</div>
